.marker {
  width: 0;
  height: 0;
  background: #d3d3d3;
}

.marker span {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 30px;
  height: 30px;
  color: #fff;
  background: #4d2d73;
  border: solid 2px;
  border-radius: 0 70% 70%;
  box-shadow: 0 0 2px #000;
  cursor: pointer;
  transform-origin: 0 0;
  transform: rotateZ(-135deg);
}

.marker b {
  transform: rotateZ(135deg);
}

.home-page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 20%;
  background-color: blue;
}

.home-body {
  padding: 5%;
  background-color: rebeccapurple;
}

.home-body form {
  display: flex;
  flex-direction: column;
}

.home-body form section {
  display: flex;
  margin: 5% 0;
  background-color: rosybrown;
}

.home-page h1 {
  font-size: 3.5rem;
}

.home-page h2 {
  width: 75%;
  font-size: 2rem;
}

.home-logout {
  position: absolute;
  top: 2%;
  right: 2%;
  background-color: rosybrown;
}

.home-footer {
  width: 100%;
  background-color: black;
  /* position: fixed;
  bottom: 0; */
  display: flex;
  justify-content: space-evenly;
}
