.marker {
  width: 0;
  height: 0;
  background: #d3d3d3;
}

.marker span {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 30px;
  height: 30px;
  color: #fff;
  background: #4d2d73;
  border: solid 2px;
  border-radius: 0 70% 70%;
  box-shadow: 0 0 2px #000;
  cursor: pointer;
  transform-origin: 0 0;
  transform: rotateZ(-135deg);
}

.marker b {
  transform: rotateZ(135deg);
}

.home-body {
  background-color: white;
  padding-top: 1rem;
}

.home-page h2 {
  font-size: 1.5rem;
}

.home-page h3 {
  font-size: 1.1rem;
}

a {
  color: black;
}

.home-body form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.home-body form section {
  display: flex;
  flex-direction: column;
  width: 75%;
}

.home-body form input {
  height: 2.5rem;
}

.home-body section {
  width: 75%;
  margin: 1rem auto;
}

.home-body section button {
  width: 50%;
  border: 1px solid #222;
  padding: 0;
}

.home-body section button:first-of-type {
  color: white;
  background-color: #222;
}

.search-results {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.result-card {
  width: 90%;
  margin: 1rem;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  border: 2px solid black;
}

@media only screen and (min-width: 600px) {
  .result-card {
    width: 40%;
  }
}

.trip-modal {
  /* background: grey; */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.trip-button {
  width: 100%;
  /* background-color: lightcyan; */
  text-align: center;
  height: 2.5rem;
  line-height: 2.5rem;
}

.trip-button:nth-child(2) {
  background-color: lightgrey;
}

.trip-button:hover,
.new-trip-button:hover {
  opacity: 0.5;
  cursor: pointer;
}

.new-trip-button {
  width: 100%;
  background-color: lightsteelblue;
  text-align: center;
  height: 2.5rem;
  line-height: 2.5rem;
}
