.marker {
  width: 0;
  height: 0;
  background: #d3d3d3;
}

.marker span {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 30px;
  height: 30px;
  color: #fff;
  background: #4d2d73;
  border: solid 2px;
  border-radius: 0 70% 70%;
  box-shadow: 0 0 2px #000;
  cursor: pointer;
  transform-origin: 0 0;
  transform: rotateZ(-135deg);
}

.marker b {
  transform: rotateZ(135deg);
}

.home-page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 20%;
  background-color: white;
  
}

.home-body {
  padding: 5%;
  background-color: white;
}

.home-body form {
  display: flex;
  flex-direction: column;
  margin: 5% 0;
}

.home-body section {
  width: 100;
  margin: 5% 0;
  border: 1px solid #222;
}

.home-body section button {
  width: 50%;
  border: 1px solid #222;
}

.home-body section button:first-of-type {
  color: white;
  background-color: #222;
  border: 1px solid #222;
}

.home-body form section {
  display: flex;
  margin: 5% 0;
  background-color: white;
}

.home-body form section:first-child {
  width: 100;
}

.home-body form section:last-child {
  width: 100;
}

.home-page h1 {
  font-size: 3.5rem;
}

.home-page h2 {
  width: 75%;
  font-size: 2rem;
}

.home-logout {
  position: absolute;
  top: 2%;
  right: 2%;
  background-color: white;
}

.home-footer {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  background-color: white;
  border-top: 1px solid black;
}

.home-footer div {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  color: black;
}

.explore-button {
  margin: 5% 0;
  border-radius: 10px;
  background-color: blue;
  color: white;
}